.reservation-card {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  margin: 15px 20px;
  min-height: auto;
}

.reservation-card-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 10px;
}

.reservation-room-badge {
  background-color: #FEF0E7;
  color: #f57c00;
  font-size: 12px;
  font-weight: 700;
  padding: 3px 10px;
  border-radius: 20px;
  width: fit-content;
}

.reservation-name {
  font-size: 16px;
  font-weight: 700;
  color: #333333;
}

.reservation-time {
  font-size: 13px;
  color: #f57c00;
  font-weight: 600;
  margin: 0;
  margin-left: 0;
}

.reservation-course {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  color: #64748B;
}

.reservation-actions {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.approve-btn {
  padding: 8px 20px;
  border-radius: 6px;
  border: none;
  background-color: #16a34a;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  width: 120px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.deny-btn {
  padding: 8px 20px;
  border-radius: 6px;
  border: none;
  background-color: #dc2626;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 120px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.reservation-card-right {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
}

.reservation-time-ago {
  font-size: 12px;
  color: #64748B;
}

.reservation-image {
  width: 300px;
  height: 150px;
  border-radius: 8px;
  background-color: #F8F7F5;
}