.dh-view-reservation {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
  margin-top: 80px;
  background-color: #F8F7F5;
}

.dh-view-reservation-back {
  font-size: 25px;
  cursor: pointer;
  display: block;
  color: #333333;
}

.white-box-view-reservation {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  min-height: 650px;
}

.dh-reservation-header {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.dh-reservation-header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.dh-reservation-profile {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: #f57c00; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.dh-reservation-faculty-name {
  font-size: 16px;
  font-weight: 700;
  color: #333333;
}

.dh-reservation-header-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.dh-deny-request-btn {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  background-color: #DC2626;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  transition: .2s;
}

.dh-deny-request-btn:hover {
  background-color: #fee2e2;
  border: solid 1px #DC2626;
  color: #DC2626;
}

.dh-approve-request-btn {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  background-color: #f57c00;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  transition: .2s;
}

.dh-approve-request-btn:hover {
  background: #fff3e8;
  border: solid 1px #f57c00;
  color: #f57c00;
}

.dh-reservation-info-boxes {
  display: flex;
  margin-top: 20px;
  gap: 50px;
}

.dh-reservation-info-box {
  flex: 1;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  min-height: 210px;
}

.dh-info-box-title {
  font-size: 15px;
  font-weight: 700;
  color: #f57c00;
  padding: 15px 20px;
  border-bottom: 2px solid #FBDFC2;
}

.dh-info-box-content {
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 13px;
  color: #333333;
}

.dh-info-box-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.dh-conflict-check-box {
  background-color: #FFFBEB;
}