.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.denial-popup {
  background-color: #F8F7F5;
  border-radius: 10px;
  padding: 30px;
  width: 600px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.denial-label {
  font-size: 15px;
  font-weight: 700;
}

.denial-input {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  font-size: 14px;
  outline: none;
  resize: none;
  height: 150px;
  font-family: 'Lexend', sans-serif;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.denial-input:focus {
  border-color: #F2690D;
}

.denial-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.denial-cancel-btn {
  padding: 10px 0;
  width: 120px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  border: 1.5px solid #f57c00;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  transition:.2s;
  height: 52px;
  background-color: transparent;
  color: #f57c00;
  transition: background-color 0.2s ease;
}

.denial-cancel-btn:hover {
   background-color: #FEF0E7;
}

.denial-confirm-btn {
  padding: 10px 0;
  width: 120px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  background-color: #f57c00;
  color: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  transition:.2s;
  height: 52px;
}

.denial-confirm-btn:hover {
  background: #fff3e8;
  border: solid 1px #f57c00;
  color: #f57c00;
}