.schedule-card {
  position: absolute;
  left: 6px;
  right: 6px;

  border-radius: 10px;
  color: white;

  display: flex;
  flex-direction: column;

  padding: 8px;

  cursor: pointer;

  overflow: hidden;

  transition: .2s;

  box-shadow: 0 2px 6px rgba(0,0,0,.15);
}

.schedule-card:hover{
    transform:scale(1.03);
}

.subject-code{
    font-size:15px;
    font-weight:700;
}

.subject-name{
    font-size:12px;
    margin-top:4px;
}

.subject-time{
    margin-top:auto;
    font-size:11px;
}

.subject-faculty{
    font-size:11px;
    opacity:.9;
}